html,body
{
    /*Things between the <body> tags is the visible part of the html docuemnt*/
    margin: 0;
    padding: 0;
    /*Span the whole visile content(body) of the script to the whole viewport */
    height: 100%;
}
#background
{
    background-color: black;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    /*Width of the div is set to 100% of the body container*/
    width: 100%;
    /*Height of the div is set to 100% of the body container*/
    height: 100%;
    display: table;
}

#logInContainer *
{
    color:white;
    font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight:normal;
    line-height:100%;
    box-sizing:border-box;

}

#logInContainer
{
    width:80%;
    margin:0 auto;
    position:relative;
    max-width:1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}
#inputContainer
{
    width:400px;
    padding:45px;
    float:left;
    border-right:1px solid #999
}

#inputContainer h2
{
  text-align:center;
  
}

#inputContainer input[type='text'],
#inputContainer input[type='password'],
#inputContainer input[type='email']
{
    display: block;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    width: 100%;
    line-height: 150%;
    
}
#inputContainer label
{
    color: #a0a0a0;
    margin-top: 15px;
    font-size: 13px;
    border: none;
}

#inputContainer button
{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 250px;
    width: 100%;
    position: relative;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px;
    height: 41px;
}

#inputContainer button:hover
{
    cursor: pointer;
}

#logInForm span.errorMessage
{
    color: #07d159;
    font-weight: bold;
    display: block;
}

div.hasAccountText
{
    margin-top: 15px;
    text-align: center;
}

div.hasAccountText span
{
    font-weight: bolder;
    font-size: 13px;
    cursor: pointer;
}
#logInText
{
    padding: 40px;
    display: table-cell;
}
#logInText h1
{
    color: #07d159;
    font-weight: bold;
    font-size: 60px;
}
#logInText h2
{
    margin: 35px 0;
}
#logInText ul
{
    padding: 0;
}
#logInText ul li
{
    list-style:none;
    padding: 10px;
    font-size: 20px;
    background-image: url(../img/icons/icons8_Checkmark_25px.png);
    background-repeat: no-repeat;
    padding-left: 35px;
    
}