html,body
{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #181818;
    min-width: 720px;
}
/*Target all the element in html using * that means all*/
*
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#nowPlayingBarContainer
{
    width: 100%;
    background-color: #282828;
    min-width: 620px;
    /*The bottom and position property keep the container at the bottom of the page*/
    bottom: 0;
    position: fixed;
}

#nowPlayingBar
{
    background-color: #282828;
    height: 90px;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft
{
    width: 30%;
    position: relative;
    min-width: 180px;
}
#nowPlayingRight
{
    width: 30%;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nowPlayingCenter
{
    width: 40%;
    position: relative;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content
{
    width: 100%;
    position: relative;
    height: 57px;
}

.playerControls .buttons
{
    margin : 0 auto;
    display: table;
}

.playerControls .buttons .controlButton
{
    background-color: transparent;
    border: 0;
    vertical-align: middle;
}

.playerControls .buttons .controlButton img
{
    height: 20px;
    width: 20px;
}

.playBackBar
{
    display: flex;
    flex-direction: row;
}

.playBackBar .progressTime
{
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playBackBar .progressBar
{
    width: 100%;
    display: inline-flex;
    height: 12px;
    cursor: pointer;
}

.playBackBar .progressBar .progressBarBg
{
    height: 4px;
    width: 100%;
    position: relative;
    background-color: #404040;
    border-radius: 2px;
    margin-top: 3px;
}

.playBackBar .progressBar .progressBarBg .progress
{
    width: 0;
    position: relative;
    height: 4px;
    background-color: #a0a0a0;
}

#nowPlayingLeft .albumLink img.albumArtwork
{
    width: 12%;
    margin-right: 15px;
    max-width: 57px;
    float: left;
}

.trackInfo
{
    display: table;
}

.trackInfo .trackName
{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

.trackInfo .artistName span
{
    color: #a0a0a0;
    font-size: 10px;
}

#nowPlayingRight .volumeBar button
{
    background-color: transparent;
    border: 0;
}
.volumeBar
{
    width: 180px;
    display: flex;
    align-items: center;
}

.volumeBar .progressBar .progressBarBg
{
    height: 4px;
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: #404040;
    border-radius: 2px;
    margin-top: 3px;
}

.volumeBar .progressBar
{
    width: 125px;
    display: inline-flex;
    height: 12px;
    cursor: pointer;
}

.volumeBar .progressBar .progressBarBg .progress
{
    width: 0;
    position: relative;
    height: 4px;
    background-color: #a0a0a0;
}

#mainContainer #topContainer
{
    min-height: 100%;
    width: 100%;
}

#mainContainer #topContainer #navBarContainer
{
    background-color: black;
    width: 220px;
    height: 100vh;
    position: fixed;
    padding: 25px;
    box-sizing: border-box;
}

.navBar
{
    display: flex;
    flex-direction: column;
    -ms-flex-direction:column;
}

.navBar .group
{
    padding: 10px 0;
    border-top: solid 1px #a0a0a0;
}

.group .navItem
{
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative
}

.navItemLink
{
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover
{
    color: white;
}
.logo
{
    margin-bottom: 15px;
}

img.Search
{
    position: absolute;
    width: 25px;
    right: 5px;
    top: 5px;

}

#mainViewContainer
{
    width: calc(100% - 220px);
    margin-left: 220px;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom:100px;
    
}

#mainViewContainer #mainContent h1
{
    margin-top: 0;
    padding-top: 10px;
}


.gridViewContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.gridViewItem
{
    display: inline-block;
    margin: 10px 10px;
    text-align: center;
}

.gridViewItem img
{
    width: 250px;
    
}

.gridViewItem a
{
    text-decoration: none;
}
.entityInfo
{
    padding: 40px;
}
.entityInfo::after
{
    content: " ";
    clear: both;
    display: block;
}
.entityInfo .leftSection
{
    float: left;
    margin-right: 30px;
}
.entityInfo .leftSection img
{
    width: 250px;
    
}
.entityInfo .RightSection
{
    padding-top: 20px;
}
.entityInfo .RightSection h2
{
    margin-top: 0;
}
.entityInfo .RightSection h5
{
    font-weight: normal;
    font-size: 12px;
}
.trackList
{
    padding: 0;
}
.tracklistRow
{
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.tracklistRow:hover
{
    background-color: #282828;
}

.tracklistRow .trackInfo span
{
    color:#939393;
    font-weight: 400;
}

.tracklistRow .trackCount
{
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img
{
    width: 20px;
    visibility: hidden;
}

.tracklistRow:hover .trackCount img
{
    visibility: visible;
}

.tracklistRow:hover .trackCount span
{
    visibility: hidden;
}

.tracklistRow .trackInfo
{
    width: 75%;
    float: left;
}
.trackOptions img
{
    float: left;
}
.trackOptions::after
{
    content: " ";
    display: block;
    clear: both;
}

img.optionsButton
{
    width: 20px;
    margin-top: 20px;
    visibility: hidden;
}

.tracklistRow:hover img.optionsButton
{
    visibility: visible;
}

.trackDuration
{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.artistName
{
    font-size: 10px;
}