html,body
{
    padding: 0;
    margin: 0;
    height: 100%;
}
/*Target all the element in html using * that means all*/
*
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#nowPlayingBarContainer
{
    width: 100%;
    background-color: #282828;
    min-width: 620px;
    /*The bottom and position property keep the container at the bottom of the page*/
    bottom: 0;
    position: fixed;
}

#nowPlayingBar
{
    background-color: #282828;
    height: 90px;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft
{
    width: 30%;
    position: relative;
    min-width: 180px;
}
#nowPlayingRight
{
    width: 30%;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nowPlayingCenter
{
    width: 40%;
    position: relative;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content
{
    width: 100%;
    position: relative;
    height: 57px;
}

.playerControls .buttons
{
    margin : 0 auto;
    display: table;
}

.playerControls .buttons .controlButton
{
    background-color: transparent;
    border: 0;
    vertical-align: middle;
}

.playerControls .buttons .controlButton img
{
    height: 20px;
    width: 20px;
}

.playBackBar
{
    display: flex;
    flex-direction: row;
}

.playBackBar .progressTime
{
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playBackBar .progressBar
{
    width: 100%;
    display: inline-flex;
    height: 12px;
    cursor: pointer;
}

.playBackBar .progressBar .progressBarBg
{
    height: 4px;
    width: 100%;
    position: relative;
    background-color: #404040;
    border-radius: 2px;
    margin-top: 3px;
}

.playBackBar .progressBar .progressBarBg .progress
{
    width: 0;
    position: relative;
    height: 4px;
    background-color: #a0a0a0;
}

#nowPlayingLeft .albumLink img.albumArtwork
{
    width: 12%;
    margin-right: 15px;
    max-width: 57px;
    float: left;
}

.trackInfo
{
    display: table;
}

.trackInfo .trackName
{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

.trackInfo .artistName span
{
    color: #a0a0a0;
    font-size: 10px;
}

#nowPlayingRight .volumeBar button
{
    background-color: transparent;
    border: 0;
}
.volumeBar
{
    width: 180px;
    display: flex;
    align-items: center;
}

.volumeBar .progressBar .progressBarBg
{
    height: 4px;
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: #404040;
    border-radius: 2px;
    margin-top: 3px;
}

.volumeBar .progressBar
{
    width: 125px;
    display: inline-flex;
    height: 12px;
    cursor: pointer;
}

.volumeBar .progressBar .progressBarBg .progress
{
    width: 0;
    position: relative;
    height: 4px;
    background-color: #a0a0a0;
}


